<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head") %>
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav fw-bold">
                    <a class="nav-link link-animation" href="/">Inicio</a>
                    <a class="nav-link link-animation" href="/about">Sobre Nosotros</a>
                    <a class="nav-link link-animation" href="/games">Juegos</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="w-75 mx-auto mt-5 p-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="fw-bold text-white pb-2">Sobre Nosotros</h1>
                <p class="fs-5 text-white fw-bold abouttext">Bienvenidos a la página de juegos estilo RPG, somos un
                    pequeño equipo de personas que estan empezando con la creación de juegos básicos, esperamos que
                    disfruten de nuestro contenido y nos apoyen en nuestros próximos lanzamientos de juegos, si tienes
                    una opinión sobre cualquier juego, un error o falla dentro de ellos avísanos para ir mejorándolo y
                    arreglando esos molestos errores!, también dependiendo de lo que ustedes pidan podemos hacerlo de
                    varios estilos y hasta 3D!</p>

            </div>
            <div class="col-4">
                <img src="/img/player.png" class="w-100 ms-5" alt="">
            </div>
        </div>
    </div>



</body>

</html>