<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/head") %>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav fw-bold">
                    <a class="nav-link link-animation" href="/">Inicio</a>
                    <a class="nav-link link-animation" href="/games">Juegos</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="w-75 mx-auto mt-5 p-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-body shadow">
                    <h3 class="text-center">Add Game</h3>
                    <form action="/addgame" method="post">
                        <div class="form-group mt-2">
                            <label for="name">Name:</label>
                            <input name="name" type="text" class="form-control" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="img">Img:</label>
                            <input name="img" type="text" class="form-control" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="category">Category:</label>
                            <select class="form-select" aria-label="Default select example" name="category">
                                <option selected>Category game</option>
                                <option value="1">Action</option>
                                <option value="2">Adventure</option>
                                <option value="3">Conduction</option>
                                <option value="4">Platform</option>
                                <option value="5">Shooter</option>
                                <option value="6">Simulation</option>
                                <option value="7">Strategic</option>
                                <option value="8">Fight</option>
                            </select>
                        </div>
                        <div class="form-group mt-2">
                            <label for="gamebox">Si no es nuestro juego agregar juego:</label>
                            <input name="gamebox" type="text" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2">Add Game</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <%- include ('partials/scripts')  %>
</body>

</html>